name: Go

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master

jobs:
  test:
    name: Testing Go ${{ matrix.go-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Set up Go ${{ matrix.go-version }} on ${{ matrix.os }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Test on ${{ matrix.os }}
        if: matrix.os == 'ubuntu-latest'
        run: |
          go test -v -race ./...
          GOARCH=386 GOOS=linux go test -v ./...

      - name: Test on ${{ matrix.os }}
        if: matrix.os != 'ubuntu-latest'
        run: |
          go test -v -race ./...
